.App {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-app);
    overflow: hidden;

    .Header {
        width: 100%;
        padding: 20px 10px;
        background-color: var(--color-background-white);

        .NavList {
            display: flex;
            gap: 1rem;
        }

        .NavBrand {
            display: flex;
            gap: 2rem;

            .TogglePanel {
                display: none;

                @media screen and (max-width: 999px) {
                    display: inline-block
                }
            }
        }
    }
}